@import "tailwindcss";

@font-face {
  font-family: seif;
  src: url('../src/assets/Fonts/Uni\ Sans\ Heavy\ Italic.otf');
}

*{
  scroll-behavior: smooth;
}
@theme{
  --color-main-color:oklch(11.49% 0.000 0);
  --color-text-color:oklch(100.00% 0.000 0);
  --color-third-color:oklch(55.40% 0.227 29.23);
  --font-seif: seif , 'sens-serif'
}

@media (max-width: 1023px) {
  #skills > div {
    width: 75%;
    min-width: 145px;
    height: 16rem;
    padding: 1rem;
  }
}
html, body {
  overflow-x: hidden; /* عشان ميبقاش فيه سكرول عرضي بايخ للموقع كله */
  height: auto;
}